
/*top header*/
* {box-sizing: border-box;}

.all-header .top-header{
  background-color: #f2f6fa;
  overflow: hidden;
  display: flex;
  font-weight: bold;
  padding: 11px 13px;
  width: 100%;
}
.all-header .top-header .top-header-right .account a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    line-height: 20px;
}
.all-header .top-header .top-header-right{
    float: right;
    display: flex;
    width:60%;
    margin-left: 40%;
    position: relative;
    justify-content: flex-end;
    justify-content: space-around;
}
.all-header .top-header .top-header-left{
    float: left;
    width: 30%;
    padding: 11px 13px;
}
.all-header .top-header .top-header-right .searchbar{
    margin-right: 30%;
    margin-top: 4%;
}
.all-header .top-header .top-header-right .account{
  text-align: end;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 50%;
  width: 150%;
}

/*input header*/
.searchbar {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #06f74e;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  margin-right: 10%;
  margin-bottom: 70%;
 }
 .searchbar:hover > .searchbar-txt {
  width: 240px;
  padding: 0 0px;
 }
 .searchbar-txt{
   color: white;
   margin-bottom: 50%;
 }
 .searchbar:hover > .searchbar-btn {
  background: #06f74e;
  color: white;
 }
 .searchbar-btn {
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #06f74e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
 }
 .searchbar-btn i{
   color: white;
 }
 .searchbar-btn > i {
  font-size: 20px;
 }
 .searchbar-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
 }
/*main header*/
.all-header .main-header{
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
  font-weight: bold;
  width: 100%;
}
.all-header .main-header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.all-header .main-header  a.main-header-logo{
  font-size: 25px;
  font-weight: bold;
}
.all-header .main-header a.main-header-logo:hover{
  background-color: #ddd;
  color: black;
}
.all-header .main-header .main-header-right {
  float: right;
}
.all-header .main-header .main-header-right a.active{
  background-color: #06f74e;
  color: white;
}
@media screen and (max-width: 500px) {
  .all-header .main-header a {
    float: none;
    display: block;
    text-align: left;
  }
  .all-header .main-header .main-header-right {
    float: none;
  }
}
/*header*/